---
import BaseLayout from '../layouts/BaseLayout.astro';
const identity = {
    country: "México",
    occupation: "Ingeniero en sistemas, desarrollador web y móvil",
    hobbies: ["Dibujo", "Música", "Meditación"],
};
---
<BaseLayout current="about">
  <section class="about-me">
    <p>
      Hola, mi nombre es <strong>Diego</strong>, soy un ingeniero en sistemas, también me gusta pasar el rato rayando
      naturaleza muerta o abstracciones sin sentido, hice este sitio para dar a conocer un poco más de lo que hago.
    </p>
    <br>
    <p><strong>Aquí hay algunos datos sobre mi:</strong></p>
    <p class="ml-1">Resido en {identity.country} y Trabajo como {identity.occupation}.</p>
    <p class="ml-1">Mis pasatiempos son: El dibujo, música y la meditación</p>
    
    <p><strong>Mis habilidades son:</strong></p>
    <p class="ml-1">JavaScript, HTML, CSS, Typescript, Angular, IONIC, NodeJS, NestJS, PHP, C#, ASP .NET, Python, Java, MySQL, 
      PostgreSQL, SQL Server, MVC Entity Framework, AWS S3, AWS Lambda, GIT, Figma, Adobe Illustrator, Adobe XD, 
      Photoshop, Inkscape</p>
  </section>
</BaseLayout>