---
import '../styles/blog.css';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Bienvenido a mi blog";
---

<BaseLayout current="blog">
  <section class="blog">
    <h1>{pageTitle}</h1>
    <p>Aquí publicaré algunas cosas que parezcan interesantes</p>
    <br>
    <div class="posts">
      {allPosts.map((post: any) => <BlogPost post={post} />)}
    </div>
  </section>
</BaseLayout>