---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout current="cv">
  <section>
    <object data="/docs/cv-diego.pdf" type="application/pdf" width="100%" height="600px">
        <p>Su navegador no es compatible con PDF, <a style="text-decoration: underline;" href="/docs/cv-diego.pdf">Descargar</a></p>
    </object>
  </section>
</BaseLayout>
