---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout current="start">
  <section>
    <h1>Desarrollador web y móvil</h1>
    <p>
      Hola, mi nombre es <strong>Diego</strong>, soy un ingeniero en sistemas computacionales con
      más de 5 años de experiencia, he trabajado en los sectores de promoción digital, comercio, economía,
      servicios financieros, salud, educación, medio ambiente y recursos naturales.
    </p>
    <br />
    <p><strong>Tecnologías que uso:</strong></p>
    <p class="ml-1">
      JavaScript, Typescript, NodeJS, NestJS, Angular, Astro, SolidJS, Flutter, IONIC, React, PHP, Laravel, SCSS, Python,
      Django, Java, C#, Android Studio (Java), VB.NET, ASP.NET, MVC Entity Framework, AWS S3, AWS Lambda, GIT, MySQL,
      PostgreSQL, SQL Server, Firebase, Figma, Adobe Illustrator, Adobe XD, Photoshop, Inkscape.
    </p>
    <p><strong>Datos sobre mi:</strong></p>
    <p class="ml-1">Resido en México</p>
    <p class="ml-1">Mis pasatiempos son el dibujo, la música y la meditación</p>
    <p class="ml-1">También he sido educador comunitario.</p>
  </section>
</BaseLayout>
