---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/start.css'
---

<BaseLayout current="start">
  <section class="start">
    <h1>Hola, mi nombre es Diego</h1>
    <p>
      Soy desarrollador web y móvil con más de 4 años de experiencia, 
      he trabajado en los sectores de promoción digital, comercio y servicios financieros, salud, educación, medio ambiente, recursos naturales y economía
    </p>
    <br>
    <p><strong>Algunas tecnologías que uso:</strong></p>
    <p class="ml-1">
      JavaScript, HTML, CSS, Typescript, Angular, IONIC, NodeJS, NestJS, PHP, C#, ASP .NET,
      Python, Java, MySQL, PostgreSQL, SQL Server, MVC Entity Framework, AWS S3, AWS Lambda,
      GIT, Figma, Adobe Illustrator, Adobe XD, Photoshop, Inkscape
    </p>
    <p><strong>Datos sobre mi:</strong></p>
    <p class="ml-1">Resido en México</p>
    <p class="ml-1">Mis pasatiempos son: El dibujo, la música y la meditación</p>
  </section>
</BaseLayout>
