---
import { AstroSeo } from '@astrolib/seo';
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout current="start">
  <section>
    <AstroSeo
      title="Desarrollador web y móvil"
      description="ingeniero en sistemas computacionales"
    />
    <h1>Desarrollador web y móvil</h1>
    <p>
      Hola, mi nombre es <strong>Diego</strong>, soy un ingeniero en sistemas computacionales con más de 4 años de experiencia, 
      he trabajado en los sectores de promoción digital, comercio y servicios financieros, salud, educación, medio ambiente, recursos naturales y economía
    </p>
    <br>
    <p><strong>Tecnologías que uso:</strong></p>
    <p class="ml-1">
      JavaScript, HTML, CSS, Typescript, Angular, IONIC, NodeJS, NestJS, PHP, C#, .NET,
      Python, Java, MySQL, PostgreSQL, SQL Server, AWS S3, AWS Lambda,
      GIT, Figma, Adobe Illustrator, Adobe XD, Photoshop, Inkscape
    </p>
    <p><strong>Datos sobre mi:</strong></p>
    <p class="ml-1">Resido en Morelos, México</p>
    <p class="ml-1">Mis pasatiempos son el dibujo, la música y la meditación</p>
    <p class="ml-1">También he sido educador comunitario</p>
  </section>
</BaseLayout>
