---


---

<footer class="dark">
    <!-- switch -->
    <p class="txt-center"> Ing. en sistemas computacionales </p>
    <p class="txt-center"> <a class="dark" href="mailto:d.jaimej@hotmail.com">d.jaimej&#64;hotmail.com</a> </p>
    <div class="icons">
        <a href="https://www.linkedin.com/in/djaimej/" target="_blank" rel="noopener" aria-label="linkedin">
          <svg fill="#FFF" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"/>
          </svg>          
        </a>
        <a href="https://gitlab.com/djaimej" target="_blank" rel="noopener" aria-label="gitlab">
          <svg version="1.1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <rect x="1.7451e-5" width="512" height="512" fill="none"/>
            <path d="m416.1 9.4729c-8.1053-0.02865-15.489 5.3344-17.776 13.402l-47.067 144.01h-190.51l-47.027-144.01c-4.8732-16.776-28.168-18.012-34.789-1.8458l-69.657 181.77-0.72226 1.8458c-20.593 53.835-3.0858 114.8 42.934 149.51l0.24076 0.20134 0.642 0.48156 105.97 79.448 52.604 39.724 31.94 24.155c7.7037 5.8236 18.338 5.8236 26.041 0l31.94-24.155 52.604-39.724h0.0411l106.77-79.93 0.24078-0.20133c3.7022-2.79 7.2517-5.7769 10.633-8.9479h0.0411c1.6752-1.5879 3.3075-3.2202 4.8953-4.8953 6.4164-6.7012 12.093-14.073 16.933-21.989l0.039-0.0411c2.4248-3.9577 4.6349-8.043 6.6207-12.238 5.8015-12.324 9.6203-25.487 11.315-39.002 0.0411-0.30754 0.0822-0.61509 0.12121-0.92284 0.0138-0.18695 0.0267-0.37452 0.0411-0.56168 1.0334-9.0214 1.1141-18.127 0.24078-27.165-0.219-2.3076-0.50004-4.609-0.84272-6.9015-0.69193-4.5812-1.6296-9.1219-2.8088-13.602-1.1819-4.486-2.6017-8.9062-4.2559-13.241l-0.72225-1.8458-69.657-181.77c-2.3231-5.7791-7.4111-9.9914-13.522-11.195-1.1753-0.23145-2.333-0.35704-3.4909-0.36113z" fill="#fff"/>
          </svg>
        </a>
        <a href="https://github.com/djaimej" target="_blank" rel="noopener" aria-label="github">
          <svg width="32" height="32" aria-hidden="true" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFF" d="m12 1c-6.0775 0-11 4.9225-11 11 0 4.8675 3.1488 8.9787 7.5212 10.436 0.55 0.0963 0.75625-0.2337 0.75625-0.5225 0-0.2612-0.01375-1.1275-0.01375-2.0487-2.7638 0.5087-3.4788-0.6738-3.6988-1.2925-0.12375-0.3163-0.66-1.2925-1.1275-1.5538-0.385-0.2062-0.935-0.715-0.01375-0.7287 0.86625-0.0138 1.485 0.7975 1.6912 1.1275 0.99 1.6637 2.5712 1.1962 3.2038 0.9075 0.09625-0.715 0.385-1.1963 0.70125-1.4713-2.4475-0.275-5.005-1.2237-5.005-5.4312 0-1.1963 0.42625-2.1862 1.1275-2.9562-0.11-0.275-0.495-1.4025 0.11-2.915 0 0 0.92125-0.28875 3.025 1.1275 0.88-0.2475 1.815-0.37125 2.75-0.37125s1.87 0.12375 2.75 0.37125c2.1038-1.43 3.025-1.1275 3.025-1.1275 0.605 1.5125 0.22 2.64 0.11 2.915 0.7013 0.77 1.1275 1.7462 1.1275 2.9562 0 4.2212-2.5712 5.1562-5.0187 5.4312 0.3987 0.3438 0.7425 1.0038 0.7425 2.035 0 1.4713-0.0138 2.6538-0.0138 3.025 0 0.2888 0.2063 0.6325 0.7563 0.5225 4.345-1.4575 7.4937-5.5825 7.4937-10.436 0-6.0775-4.9225-11-11-11z"/>
          </svg>
        </a>
        <a href="https://www.instagram.com/cadmus.mx/" target="_blank" rel="noopener" aria-label="instagram">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#FFF" width="512" height="512" viewBox="0 0 512 512">
            <path d="M349.33,69.33a93.62,93.62,0,0,1,93.34,93.34V349.33a93.62,93.62,0,0,1-93.34,93.34H162.67a93.62,93.62,0,0,1-93.34-93.34V162.67a93.62,93.62,0,0,1,93.34-93.34H349.33m0-37.33H162.67C90.8,32,32,90.8,32,162.67V349.33C32,421.2,90.8,480,162.67,480H349.33C421.2,480,480,421.2,480,349.33V162.67C480,90.8,421.2,32,349.33,32Z"/><path d="M377.33,162.67a28,28,0,1,1,28-28A27.94,27.94,0,0,1,377.33,162.67Z"/><path d="M256,181.33A74.67,74.67,0,1,1,181.33,256,74.75,74.75,0,0,1,256,181.33M256,144A112,112,0,1,0,368,256,112,112,0,0,0,256,144Z"/>
          </svg>
        </a>
        <a href="https://open.spotify.com/user/d.jaimej" target="_blank" rel="noopener" aria-label="spotify">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#FFF" width="512" height="512" viewBox="0 0 512 512">
            <path d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm100.7 364.9c-4.2 0-6.8-1.3-10.7-3.6-62.4-37.6-135-39.2-206.7-24.5-3.9 1-9 2.6-11.9 2.6-9.7 0-15.8-7.7-15.8-15.8 0-10.3 6.1-15.2 13.6-16.8 81.9-18.1 165.6-16.5 237 26.2 6.1 3.9 9.7 7.4 9.7 16.5s-7.1 15.4-15.2 15.4zm26.9-65.6c-5.2 0-8.7-2.3-12.3-4.2-62.5-37-155.7-51.9-238.6-29.4-4.8 1.3-7.4 2.6-11.9 2.6-10.7 0-19.4-8.7-19.4-19.4s5.2-17.8 15.5-20.7c27.8-7.8 56.2-13.6 97.8-13.6 64.9 0 127.6 16.1 177 45.5 8.1 4.8 11.3 11 11.3 19.7-.1 10.8-8.5 19.5-19.4 19.5zm31-76.2c-5.2 0-8.4-1.3-12.9-3.9-71.2-42.5-198.5-52.7-280.9-29.7-3.6 1-8.1 2.6-12.9 2.6-13.2 0-23.3-10.3-23.3-23.6 0-13.6 8.4-21.3 17.4-23.9 35.2-10.3 74.6-15.2 117.5-15.2 73 0 149.5 15.2 205.4 47.8 7.8 4.5 12.9 10.7 12.9 22.6 0 13.6-11 23.3-23.2 23.3z"/>
          </svg>
        </a>
    </div>
</footer>